@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light-webfont.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

body,
body .inner-page {
  margin: 0;
  padding: 0;

  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/*
.visually-hidden {
  color: rgba(0, 0, 0, 0);
  overflow: hidden;
}*/
.main-header {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.main-header-wrapper {
  padding: 0;
  margin: 0;
  width: 1160px;
  background-color: rgba(247, 226, 150, 1);
  background-image: linear-gradient(#ffffff 40px, #f7e296 40px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-header-wrapper .logo {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin-top: 24px;
  margin-left: 60px;
  padding: 0;
}

.user-navigation-container {
  margin: 0;
  padding: 0;
  display: flex;
  width: 1043px;
  height: 165px;
  flex-direction: column;
}

.user-navigation {
  height: 35px;

  display: flex;
  width: auto;
  justify-content: space-between;
}

.search {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f7e296;
  border: none;
}

.search:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search:focus {
  color: rgba(0, 0, 0, 1);
}

.user-navigation {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  list-style: none;
  text-decoration: none;

  height: 186px;
}

.user-navigation a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.header-logout a {
  color: rgba(0, 0, 0, 0.3);
}
.top-menu {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  list-style: none;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.top-menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.menu-catalog-list {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  list-style: none;
  text-transform: none;
  display: flex;
  flex-wrap: wrap;
  width:  200px;
}

.main-header .logo:hover,
.user-navigation a:hover,
.top-menu a:hover {
   color: rgba(0, 0, 0, 0.6);
 }

.main-header .logo:active,
.user-navigation a:active,
.top-menu a:active  {
   color: rgba(0, 0, 0, 0.3);
}

.index-column {
  display: flex;
  width: 1160px;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 95px;
}

.about-us,
.contacts {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}
.about-us {
  width: 460px;
}
.contacts {
  width: 560px;
}
.about-us-description,
.contacts-description {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.about-us .partners {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.button {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}



.modal {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
  border: none;
  height: 555px;
  width: 960px;
}

.write-us .modal {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
}

.modal-write-us::placeholder {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 1);
}

.modal input:hover,
.modal .text:hover {
  background-color: #eaeaea;
}

.modal input:focus,
.modal .text:focus {
  color: rgba(0, 0, 0, 1);
  background-color: #ffffff;
  border: 2px solid #f7e296;
}

.modal input:invalid {
  background-color: #f6dada;
}

.send-button {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

/* Моноподы для селфи */
.main-content {
  width: 1440px;
}
.page-title {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrumps a,
.breadcrumps-current a {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  list-style: none;
  text-transform: none;
}

.breadcrumps a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumps a:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  padding-left: 200px;
  padding-right: 67px;
  background-color: #eeeeee;
}

.filters-group {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.filters .fieldset {
  border: none;
}

.color-option,
.bluetooth {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

input[type="checkbox"]:disabled ~ .color-option,
input[type="radio"]:disabled ~ .color-option {
  color: #a6a6a6;
}

.items {
  width: 973px;
}

.catalog-list {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  width: 760px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 75px;
  margin-right: 140px;
}

.catalog-item {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}
.catalog-item:nth-child(2n) {
  margin: 0;
}

.catalog-item a {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: rgba(0, 0, 0, 1);
}

.catalog-item-price {
  font-family: 'gilroylight', Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
}

.footer-logout a {
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  background-color: #464646;
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: space-between;
  height: 323px;
}

.main-footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.main-footer .logo {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 198, 0, 1);
}

.main-footer .logo:hover {
  color: rgba(255, 198, 0, 0.6);
}

.main-footer .logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer-user-navigation {
  background-color: #464646;
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-user-navigation a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-menu {
  font-family: 'gilroyextrabold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
  list-style: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(70, 70, 70, 1);

  display: flex;
  flex-direction: ;
  justify-content: space-between;

}

.footer-menu a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255, 1)
}

.footer-user-navigation a:active,
.footer-menu a:active {
  color: rgba(255, 255, 255, 0.3)
}

.social {
  list-style: none;
  text-align: center;
}
