.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox + label {
  position: relative;
  cursor: pointer;
}

.checkbox + label::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;

  width: 26px;
  height: 23px;

  margin-right: 14px;
  background: url('../img/checkbox-off.svg') no-repeat;
}

.checkbox:checked + label::before {
  background-image: url('../img/checkbox-on.svg');
}

.radio-button {
  position: absolute;
  opacity: 0;
}

.radio-button + label {
  position: relative;
  cursor: pointer;
}

.radio-button + label::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;

  width: 25px;
  height: 25px;

  margin-right: 14px;
  background: url('../img/radio-off.svg') no-repeat;
}

.radio-button:checked + label::before {
  background-image: url('../img/radio-on.svg');
}
